doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Custom Object Table
    .table-container
      a.table-link(href='/update-cobj') Add/Update this table
      table
        thead
          tr
            th Name
            th Description
            th Price
        tbody
          if data && data.length
            each plant in data
              tr
                td= plant.properties.name
                td= plant.properties.description
                td= plant.properties.price
          else
            tr
              td(colspan='3') No records found