doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Add a New Plant
    a(href='/') Return to the homepage
    form(action='/update-cobj' method='post')
      div
        label(for='name') Name
        input(type='text' id='name' name='name' required)
      div
        label(for='description') Description
        input(type='text' id='description' name='description' required)
      div
        label(for='price') Price
        input(type='number' id='price' name='price' required)
      button(type='submit') Add Plant